nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

.p-icon{
    position: absolute;
    top: 38px;
    z-index: 10000;
}

nav p{
    color:#fff;
    position: relative;
    text-decoration: none;
}

nav p:hover{
    cursor: pointer;
}

nav a{
    color:#fff;
    position: relative;
    text-decoration: none;
}

nav a:hover{
    color: rgb(175, 114, 185);
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

header{
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: 94vh;
    padding: 48px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 63% 100%, 0 88%, 0 49%);
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 450px;
    object-fit: cover;
    animation: arriba 1s ease-in;
}

.textos{
    width: 50%;
    color:#fff;
}

.textos h1{
    font-size:80px;
    animation: moverDerecha 1s ease-in;

}

.textos h2{
    font-size:30px;
    padding: 10px 0;
    animation: moverIzquierda 1s ease-in;
}

.textos a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;
}

.textos a:hover{
    background-color: blueviolet;
}

.textos p{
    padding: 20px 0;
    font-weight: 500;
    animation: moverDerecha 1s ease-in;
}

.enlaces{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    background: #000;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    transition: all 1s ease;
    background: #bc4e9c; 
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c); 
    background: linear-gradient(to right, #f80759, #bc4e9c); 
}

.enlaces a{
    padding: 75px;
}

.uno{
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos{
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px){
    img{
        height: 400px;
    }

}

@media screen and (max-width:800px){
    img{
        height: 370px;
    }
    .textos h1{
        font-size: 70px;
    }

    .textos h2{
        font-size: 25px;
    }
    
}

@media screen and (max-width:700px){
    img{
        height: 250px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 15px;
    }
    
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }    
}

@media screen and (max-width:340px){
    img{
        height: 160px;
    }
    .textos h1{
        font-size: 35px;
    }
    .textos a{
        width: 120px;
    }
    .textos h2{
        font-size: 15px;
    }
    
}